.content{
    text-align: initial;
}
.fontHeaderContent{
    font: 1em Sans-serif;
    font-weight: bold;
    color: #cf2338;
}
.buttonSave{
    background-color: #cf2338 !important;
    color: aliceblue !important;
    border-radius: 8px !important;
    border-color: aliceblue !important;
}